.hentry {
    margin-bottom: 0;
    margin: 0 0 1.5em;
}

body {
    color: #46484d;
}

.mtm {
    margin-top: 42px!important;
}

.entry-content, p {
    margin-top: 0;
}

.entry-content, .entry-summary, .page-content {
    margin: 1.5em 0 0;
}

.mvl {
    margin-top: 80px!important;
    margin-bottom: 80px!important;
}

@media screen and (max-width: 768px){
    .mobile-mbl, .mobile-mvl {
        margin-bottom: 42px!important;
    }

    .grayBox-3{
        margin-top: 15px!important;
    }
}

.full-height, html {
    height: 100%;
}

.grayBox-3 {
    width: 50%;
    height: 40%;
}

#color-bar div:nth-child(2), .grayBox-3 {
    background-color: #fafafa;
}

.pull-up-3 {
    position: relative;
    margin-top: -28%!important;
}

.mb0, .mv0 {
    margin-bottom: 0!important;
}

.mt0, .mv0 {
    margin-top: 0!important;
}

.h4-size, h4 {
    font-size: 1.5rem;
    font-style: normal;
    letter-spacing: 1.5px;
}

.capitalize {
    text-transform: capitalize;
}

.mtx{
    margin-top: 120px;
}



.mvxl {
    margin-top: 200px;
    margin-bottom: 200px;
}

@media screen and (max-width: 1025px){
    .mtx{
        margin-top: 70px!important;
    }

    .graybox-mtm{
        margin-top: 30px;
     }
}


@media screen and (max-width: 767px){
    .mvxl {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .margin-top-medium{
        margin-top: 30px!important;
    }

    .mobile-mtl, .mobile-mvl {
        margin-top: 42px!important;
    }

    .mobile-mbl, .mobile-mvl {
        margin-bottom: 42px!important;
    }

    .pull-up-3{
        margin-top: 0!important;
    }
}

.chevron::before {
    border-style: solid;
    border-width: .06rem .06rem 0 0;
    display: inline-block;
    height: 1rem;
    position: relative;
    top: .5rem;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 1rem;
    content: '';
}

.chevron.bottom:before {
    top: -5px;
    transform: rotate(135deg);
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 767px){
    .scrollDown {
        bottom: 0;
        margin-top: 55px;
        position: relative;
    }
}

.scrollDown {
    color: #d3d6dc;
    text-align: center;
    max-width: 90px;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px!important;

}

html{
    scroll-behavior: smooth;

}

.margin-top-large{
    margin-top: 80px!important;
}
 .graybox-mtm{
    margin-top: 80px;
 }

p{
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
}